---
import Sentence from "./Sentence.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div>
      <p><Sentence num="1" /></p>
      <p><Sentence num="2" /></p>
      <p><Sentence num="3" /></p>
      <p><Sentence num="4" /></p>
      <p><Sentence num="5" /></p>
      <p><Sentence num="6" /></p>
      <p><Sentence num="7" /></p>
      <p><Sentence num="8" /></p>
      <p><Sentence num="9" /></p>
      <p><Sentence num="10" /></p>
      <p><Sentence num="11" /></p>
      <p><Sentence num="12" /></p>
      <p><Sentence num="13" /></p>
      <p><Sentence num="14" /></p>
      <p><Sentence num="15" /></p>
      <p><Sentence num="16" /></p>
      <p><Sentence num="17" /></p>
      <p><Sentence num="18" /></p>
      <p><Sentence num="19" /></p>
      <p><Sentence num="20" /></p>
      <p><Sentence num="21" /></p>
      <p><Sentence num="22" /></p>
      <p><Sentence num="23" /></p>
      <p><Sentence num="24" /></p>
      <p><Sentence num="25" /></p>
    </div>
  </body>
</html>
